@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #fff;
}
.center{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.circle{
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    animation: circle 2s linear infinite;
}

@keyframes circle {
    0%{
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px rgb(252, 3, 3);
    }
    50%{
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px rgb(3, 252, 24);
    }
    100%{
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px rgb(78, 3, 252);
    }
}
.circle:before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255, 255, 255, .3);
}

span{
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 200px;
}